div.row
    table.table.table-striped.table-bordered
        thead
            th.col-md-3 Position
            th.col-md-2 Company
            th.col-md-2 Apllied on
            th.col-md-4 Notes
            th.col-md-1 Action
        tbody
            if applications.length > 0
                each item in applications
                    tr
                        td
                            a(href="/applications/details/" + item._id, title="Details")= item.position
                        td= item.company
                        td= item.applicationDate
                        td= item.notes
                        td
                            a(href="/applications/edit/" + item._id, title="Edit") Edit
            else
                tr
                    td.text-center(colspan="5") No items

if applications.length > 0
    div.row.text-center
        ul.pagination
            li(class= activePage === 0 ? "disabled" : "")
                a(href="#", data-page="0", title="First") &laquo;
            li(class= activePage === 0 ? "disabled" : "")
                a(href="#", data-page= "" + (activePage > 0 ? activePage - 1 : 0), title="Previous") &lsaquo;

            - var PAGER_SIZE = 8;
            - var displayPageCount = pageCount <= PAGER_SIZE ? pageCount : PAGER_SIZE;
            - var start = 0
            if displayPageCount === PAGER_SIZE
                - start = activePage - (PAGER_SIZE >> 1);
                if start < 0
                    - start = 0
                else if start + PAGER_SIZE > pageCount
                    - start = pageCount - PAGER_SIZE
            - for (var i = 0; i < displayPageCount; i++)
                li(class= i === activePage ? "active" : "")
                    a(href="#", data-page="#{i}", title="page " + (i + 1))= i + start + 1

            li(class= activePage === pageCount - 1 ? "disabled" : "")
                a(href="#", data-page= "" + (activePage < pageCount - 1 ? activePage + 1 : pageCount - 1), title="Next") &rsaquo;
            li(class= activePage === pageCount - 1 ? "disabled" : "")
                a(href="#", data-page= "" + (pageCount - 1), title="Last") &raquo;
