extends ../shared/layout

block content
    h1 Apllication details
    br

    table.table.table-bordered.table-striped
        tbody
            tr
                td.col-md-2
                    strong Position
                td.col-md-10= position
            tr
                td.col-md-2
                    strong Description
                td.col-md-10= description
            tr
                td.col-md-2
                    strong Company
                td.col-md-10= company
            tr
                td.col-md-2
                    strong Application date
                td.col-md-10= applicationDate
            tr
                td.col-md-2
                    strong Notes
                td.col-md-10= notes
            tr
                td.col-md-2
                    strong Contacts
                td.col-md-10= contacts
            tr
                td.col-md-2
                    strong Ref. No
                td.col-md-10= refNo
            tr
                td.col-md-2
                    strong Offer url
                td.col-md-10= offerUrl
            tr
                td.col-md-2
                    strong Company web site
                td.col-md-10= companyUrl
            tr
                td.col-md-2
                    strong Offer date
                td.col-md-10= offerDate
            tr
                td.col-md-2
                    strong Result
                td.col-md-10= result

    small
        | Back to &nbsp;
        a(href="/applications") History
