extends ../shared/layout

block title
    title JobApplications | Details

block content
    h1 Apllication details
    br

    table.table.table-bordered.table-striped
        tbody
            tr
                td.col-xs-2
                    strong Position
                td.col-xs-10= position
            tr
                td.col-xs-2
                    strong Description
                td.col-xs-10= description
            tr
                td.col-xs-2
                    strong Company
                td.col-xs-10= company
            tr
                td.col-xs-2
                    strong Application date
                td.col-xs-10= applicationDate
            tr
                td.col-xs-2
                    strong Notes
                td.col-xs-10= notes
            tr
                td.col-xs-2
                    strong Contacts
                td.col-xs-10= contacts
            tr
                td.col-xs-2
                    strong Ref. No
                td.col-xs-10= refNo
            tr
                td.col-xs-2
                    strong Offer url
                td.col-xs-10= offerUrl
            tr
                td.col-xs-2
                    strong Company web site
                td.col-xs-10= companyUrl
            tr
                td.col-xs-2
                    strong Offer date
                td.col-xs-10= offerDate
            tr
                td.col-xs-2
                    strong Result
                td.col-xs-10= result

    div.row
        div.col-xs-10.col-xs-offset-2
            a.btn.btn-success(href="/applications/edit/" + _id, title="Edit") Edit
            | &nbsp;
            a.btn.btn-default(href="/applications", title="Back") Back
